@font-face {
  font-family: "TT Firs Neue";
  src: url("../Fonts/TT\ Firs\ Neue\ Trial\ Bold.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333; /* Adjust as needed */
  color: white; /* Adjust as needed */
  position: fixed;

  top: 0; /* Ensures it stays at the top */
  left: 0; /* Ensures it's flush with the left side */
  width: 100%;
  z-index: 1000; /* Ensures it stays above other elements */

  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it appears above other content */
  font-family: "TT Firs Neue", sans-serif;
}

.genre-name{
  color: black;
}


.suggestions-dropdown {
  position: absolute;
  margin-top: 12%;
  background-color: black;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 1000;
}

.suggestions-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-dropdown li:hover {
  background-color: #f0f0f0;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Add any desired background color */
  z-index: 1000; /* Set a high z-index to ensure it appears above other content */
}

.logo-container {
  margin-right: auto; /* Adjusted to push logo to left edge */

}

.logo-button{
  background-color: #333;
  border: none;
}

.logo-button:hover{
  cursor: pointer;
}



.logo {
  max-width: 200px; /* Adjust as needed */
  height: auto;
 
}

.login-container {
  margin-left: 10px; /* Adjust as needed */
  margin-left: 20px; /* Increased to create more space between search button and login */
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px;
  border: 1px solid #ccc; /* Adjust as needed */
  border-radius: 5px;
  /* Adjust as needed */
}

.search-button {
  margin-left: 10px; /* Adjust as needed */
  padding: 5px 10px;
  background-color: #aa3bfc; /* Adjust as needed */
  color: white; /* Adjust as needed */
  border: none;
  border-radius: 5px; /* Adjust as needed */
  cursor: pointer;
}

/* Style the login button */
.login-button {
  padding: 5px 10px;
  background-color: #333; /* Adjust as needed */
  color: white; /* Adjust as needed */
  border: none;
  border-radius: 5px; /* Adjust as needed */
  cursor: pointer;
}
.create-community-container {
  margin-right: 10px;
}
.create-community-button {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.create-event-container {
  margin-right: 10px;
}
.create-event-button {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.dropbtn {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.genre-dropbar:hover .dropdown-content {
  display: block;
}

/* Position the dropdown button */
.genre-dropbar {
  position: relative;
  display: inline-block;
}
