body {
  background-image: url("../images/91657.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-section {
  padding: 20px 0;
}

.section-title {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.slider-wrapper {
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 20px;
}

.slider-wrapper::-webkit-scrollbar {
  display: none;
}

.image-list {
  display: flex;
  gap: 18px;
  font-size: 0;
}

.genres .image-item {
  width: 320px; /* Adjust width as needed */
  height: 320px; /* Adjust height as needed */
}


.games .image-item {
  width: 320px; /* Adjust width as needed */
  height: 320px; /* Adjust height as needed */
}






.item-name {
  font-size: 16px;
  color: white;
  text-align: center;
}
.button_for_more {
  text-align: center;
  margin-top: 20px;
}

.the_button {
  background-color: #652ec7;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.the_button:hover {
  background-color: #aa3bfc;
}
