body {
  background-image: url("../images/91657.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: default;
  user-select: none;
  margin-top: 3%;
}
/*Main Tittle*/
.header-home {
  height: 65vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/image0_0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Horizontal centering */
  background-position-y: 40%;
  position: relative;
  
  padding: 50px;
}

.statistics-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Estilos das estatísticas individuais */
.statistics {
  color: white;
  font-size: 1.2em;
  margin: 0 10px;
  padding: 10px;
  background-color: #444444;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.page-heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-family: "TT Firs Neue", sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: default;
}

.page-heading-primary {
  display: block;
  font-size: 3.125rem;
  font-weight: 300;
  color: #652ec7;
}

.page-heading-secondary {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}

/*Grafico*/
.graphics-main-title {
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem 0;
  color: #00bcd4;
}

.graphics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.chart-container {
  background-color: #2b2b2b;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  width: calc(33% - 2rem);
  min-width: 300px;
}

.chart-container:hover {
  transform: scale(1.05);
}

.graphic-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ff9800;
}

#chartdiv,
#chartdiv2,
#chartdiv3 {
  width: 100%;
  height: 500px;
}
/* Adicione mais estilos conforme necessário */

.home-section {
  padding: 20px 0;
  margin-top: 40px;
}

.section-title {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.slider-wrapper {
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 20px;
}

.slider-wrapper::-webkit-scrollbar {
  display: none;
}

.image-list {
  display: flex;
  gap: 18px;
  font-size: 0;
}
.genres {
  margin-top: 40px;
}

.genres .image-item {
  width: 320px; /* Adjust width as needed */
  height: 320px;
  /* Adjust height as needed */
}
.image-item {
  --s: 10px; /* control the size */
  padding: var(--s);
  border: calc(2 * var(--s)) solid #0000;
  outline: 1px solid #652ec7;
  outline-offset: calc(-1 * var(--s));
  background: conic-gradient(from 90deg at 1px 1px, #0000 25%, #652ec7 0);
}

.image-item-wrapper:hover {
  cursor: pointer;
  scale: 1.1;
  transition: ease-in-out;
  animation-duration: 300;
}
.games {
  margin-top: 40px;
}

.games .image-item {
  width: 320px; /* Adjust width as needed */
  height: 320px; /* Adjust height as needed */
}

.image-item .image-size {
  width: 300px;
  height: 550px;
  object-fit: cover; /* Adjust this based on how you want the images to scale */
}

.search-results .image-item {
  width: 320px;
  height: 320px;
}

.image-item-wrapper:hover {
  cursor: pointer;
  scale: 1.1;
  transition: ease-in-out;
  animation-duration: 300;
}

.item-name {
  font-size: 16px;
  color: white;
  text-align: center;
}
.button_for_more {
  text-align: center;
  margin-top: 20px;
}

.the_button {
  background-color: #652ec7;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.the_button:hover {
  background-color: #aa3bfc;
}
