@font-face {
  font-family: "TT Firs Neue";
  src: url("./Fonts/TT Firs Neue Trial Bold.ttf") format("truetype");
}
body {
  font-family: "TT Firs Neue", sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Banner*/

.banner {
  width: 100%; /* Set the width to 100% to make sure the image fills its container */
  height: 900px; /* Set the height to your desired fixed height */
  object-fit: cover; /* Scale the image while maintaining its aspect ratio and cropping any overflow */
}

.banner-title{
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.banner-btn{
background-color: #1D4ED8;
color: white;

border-radius: 20px;
}

.banner-home{
  position: relative;
  margin-top: 10px;
}

.banner-case{
  position: absolute;
  padding: 5px;
background-image: linear-gradient(to top, #1F2937 0%, transparent 100%);
width: 100%;

  
  bottom: 0;
 
} 

/*GamesByGenreId*/

.games-list-title{
    color: white;
    font: bold;
    font-size: 30px;

}

.games-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust 250px as needed */
  gap: 10px; /* Space between items */
}

.games-list-container {
  background-color: #f9f9f943; /* Optional: Add background color */
  padding: 10px; /* Optional: Add padding */
  border: 1px solid #ddd; /* Optional: Add border */
  border-radius: 8px; /* Optional: Add border radius */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow */
  margin-left: 5px; /* Add margin to the left */
  color: white;
}

.games-image {
  width: 100%;
  height: 200px; /* Fixed height */
  object-fit: cover; /* Ensures image covers the container without distortion */
  border-radius: 4px; /* Optional: Add border radius to image */
}

.review-tag {
  background-color: yellow;
  padding: 2px 5px;
  border-radius: 3px;
  margin-left: 8px; /* Add some margin for better spacing */
}



/*TrendingGames*/

.trending-games{
  
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 columns with equal width */
    color: white;
    margin-top: 5px;
    gap: 3px;
  
  
}

.trending-games-image{
  height: 264px;
  border-radius: 0.5rem; 
  object-fit: cover;
}

.trending-games-port{
  background-color: #76a8f75e;
}

.trending-games-port:hover{
  scale: 1.5  ;
  transition:  ease-in-out;
  animation-duration: 300 ;
}

.review-tag{
  padding: 0.25rem; /* p-1: Padding de 0.25rem */
  border-radius: 0.125rem; /* rounded-sm: Bordas levemente arredondadas */
  margin-left: 0.5rem; /* ml-2: Margem à esquerda de 0.5rem */
  font-size: 0.625rem; /* text-[10px]: Tamanho de fonte de 0.625rem */
  background-color: #D1FAE5; /* bg-green-100: Cor de fundo verde-100 */
  color: #047857; /* text-green-700: Cor do texto verde-700 */
  font-weight: 500; 
}

.trending-games-name{
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.trending-games-title{
  color: white;
  font: bold;
  font-size: 30px;
  
}

/*Comunidades*/
#Com-body {
  background-color: #120052;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  display: none;
}

#Com-div {
  float: left;
  margin-left: 9%;
  transform: rotate(-90deg);
  transform: rotate(-90deg) translateY(-100px);
  transform-origin: right top;
}

#Com-div > div {
  text-align: center;
  vertical-align: top;
  transform: rotate(90deg);
  transform-origin: right top;
}

.ComImg-div > .Comh2 {
  color: rgb(0, 0, 0);
  text-align: center;
}

.Com-image {
  height: 280px;
  width: 220px;
}

/*Games*/
#GamesBody {
  background-color: #120052;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  display: none;
}
.Game_Page {
  color: white;
}

#Games-div {
  float: left;
  margin-left: 5%;
  transform: rotate(-90deg);
  transform: rotate(-90deg) translateY(-100px);
  transform-origin: right top;
}

#Games-div > .SubGame-div {
  text-align: center;
  vertical-align: top;

  transform: rotate(90deg);
  transform-origin: right top;
}

.SubGame-div > .NameGame-h2 {
  color: rgb(0, 0, 0);
  text-align: center;
}

.Games-image {
  height: 280px;
  width: 220px;
}

#Game-desc {
  margin-top: 60px;
  display: flex;
  margin-left: 150px;
  margin-right: auto;
}

.Game-desc .GameRating-desc {
  flex: row;
  display: flex;
  align-items: center;
}

.Game-title {
  margin-left: 2%;
}

.linha-horizontal {
  align-self: center;
  width: 80%;
  height: 2px;
  background-color: black;
  margin-top: 5%;
  margin-left: 12%;
}

.vid-game {
  display: flex;
  margin-top: 5%;
}

.vid-game > .video1-game {
  margin-left: 10%;
}

.vid-game > .video2-game {
  margin-left: 30%;
}

.button-more {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.GameRev-profile {
  border-radius: 100px;
}
.Game_Page .container {
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 20px;
}
.Game-review {
  margin-left: 2%;
  margin-top: 5%;
  display: flex;
  border: 1px solid;
  border-radius: 20px;
}

/*Login*/

#LoginBody {
  margin: 0;
}
#LoginBody * {
  box-sizing: border-box;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background-image: url("images/salvatore-andrea-santacroce-hRQgTeNPf6o-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > h1 {
  font-size: 3vw;
  color: white;
}

.left-login-image {
  width: 35vw;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #652ec7;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
  color: white;
  font-weight: 800;
  margin: 0;
}

.textfield-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield-login > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield-login > label {
  color: azure;
  margin-bottom: 10px;
}

.textfield-login > input::placeholder {
  color: white;
}

.btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: azure;
  background: darkslateblue;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px darkslateblue;
}

.btn-login:hover {
  color: #aa3bfc;
}
.reference_login {
  margin-top: 20px;
  text-align: center;
  color: azure;
}
.reference_login p {
  margin: 0;
}

.reference_login a {
  color: azure;
  text-decoration: none;
  text-decoration: underline;
}

/*Profile*/

#Profilebody {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #201b2c;
  padding: 0;
}

.profile_main {
  width: 100vw;
  height: 100vh;
}

.profile_pic {
  margin-top: 5%;
  margin-right: 20px;
  margin-left: 5%;
}

.profile_pic img {
  width: 150px;
}

.textfield_username {
  margin-left: 10%;
}

.description-profile {
  width: 50%;
  margin-left: 10%;
  margin-top: 20px;
}

.description-profile > .label-profile {
  color: azure;
  margin-bottom: 10px;
}

.description-profile > #input-profile {
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.description-profile > .input-profile::placeholder {
  color: white;
}

#changeBackgroundButton {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

#changeBackgroundButton::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  background-color: transparent;
  pointer-events: none;
}

#changeBackgroundButtonPrev {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

#changeBackgroundButtonPrev::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  background-color: transparent;
  pointer-events: none;
}

#buttons-profile {
  display: inline-block;
  margin-left: 55%;
}

/*SignUp*/

#Registerbody {
  margin: 0;
}
#Registerbody * {
  box-sizing: border-box;
}
.main_register {
  background-image: url("images/salvatore-andrea-santacroce-hRQgTeNPf6o-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.left_register {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card_register {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #652ec7;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}
.card_register > h1 {
  color: white;

  font-weight: 800;
  margin: 0;
}
.textfield_register_username {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield_register_username > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield_register_username > label {
  color: azure;
  margin-bottom: 10px;
}
.textfield_register_username > input::placeholder {
  color: white;
}
.textfield_email {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield_email > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield_email > label {
  color: azure;
  margin-bottom: 10px;
}
.textfield_email > input::placeholder {
  color: white;
}
.textfield_displayname {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield_displayname > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield_displayname > label {
  color: azure;
  margin-bottom: 10px;
}
.textfield_displayname > input::placeholder {
  color: white;
}

.textfield_register_password {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield_register_password > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield_register_password > label {
  color: azure;
  margin-bottom: 10px;
}
.textfield_register_password > input::placeholder {
  color: white;
}

.textfield_confirm_password {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield_confirm_password > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield_confirm_password > label {
  color: azure;
  margin-bottom: 10px;
}
.textfield_confirm_password > input::placeholder {
  color: white;
}
.btn_register {
  width: 100%;
  padding: 16px 0px;
  margin: 10px 0px; /* Adjusted margin */
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: azure;
  background: darkslateblue;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px darkslateblue;
}
.reference_signin {
  margin-top: 20px;
  text-align: center;
  color: azure;
}
.reference_signin p {
  margin: 0;
}

.reference_signin a {
  color: azure;
  text-decoration: none;
  text-decoration: underline;
}

.right_register {
  margin-right: 50px;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_register > h1 {
  font-size: 3vw;
  color: white;
}

/*Tags*/

#Tagbody {
  margin: 0;
  font-family: Arial, sans-serif;
}

#Tagbody * {
  box-sizing: border-box;
}
.tag {
  user-select: none;
}

.choose_tags {
  width: 100%;
  height: 100vh;
  background: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_tags {
  position: relative;
  width: 60%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 30px 35px;
  background: #a75db4;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card_tags > h1 {
  color: white;
  font-weight: 800;
  margin: 0 0 20px;
}

.tag_placement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.tag {
  margin: 5px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.btn_done {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: darkslateblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn_done:hover {
  background-color: #0056b3;
}
.tag.selected {
  background-color: darkslateblue;
  color: white;
}
/*CreatePost*/

#CreatePost {
  margin: 0;
  font-family: Arial, sans-serif;
}

#CreatePost * {
  box-sizing: border-box;
}

.createpost_textEssentials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.createpost_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.createpost_textEssentials h1 {
  margin: 0;
}

.createpost_textEssentials .tittle,
.createpost_textEssentials .description {
  margin-bottom: 10px;
}

.createpost_textEssentials input,
.createpost_content input[type="file"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.createpost_content input[type="text"] {
  width: 100%;
}

.createpost_content label {
  cursor: pointer;
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.createpost_content label:hover {
  background-color: #2980b9;
}

.createpost_content img {
  max-width: 550px;
  max-height: 550px;
  margin-top: 10px;
  border-radius: 5px;
}
/*Create Community*/

.createCommunity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.createcommunity_visualizers {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.create_community {
  margin-top: 10px;
}

.createCommunity_textEssentials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
.createCommunity_textEssentials input[type="file"] {
  margin-top: 5px;
}
.createCommunity_textEssentials input[type="text"] {
  margin-bottom: 10px;
  font-size: 16px;
}

.createCommunity_textEssentials label,
.createCommunity_textEssentials input {
  margin-bottom: 10px;
}
.createEvent_mainDisplay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  color: white;
}

.upper_part {
  gap: 20px;
}
.title_container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
}
.all_it {
  flex-direction: row;
  display: flex;
  gap: 350px;
}
.upper_elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
  margin-left: 100px;
  max-width: 1200px;
}

.Event_Title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.Event_Title label {
  margin-bottom: 5px;
  font-size: 18px;
}
.Event_Title input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: azure;
  color: #333;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.Event_img label {
  margin-bottom: 5px;
}
.Event_img {
  margin-top: 20px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.Event_img img {
  width: 550px;
  height: 300px;
  margin-top: 10px;
}

.createEvent_mainDetails {
  margin-top: 20px;
}

.actual_details {
  flex-direction: column; /* Changed flex-direction to column */
  display: flex;
  gap: 20px;
}

.location {
  display: flex;
  flex-direction: column; /* Changed flex-direction to column */
  align-items: center; /* Align items in the center horizontally */
  margin-top: 20px; /* Added margin-top for separation */
}

.location h2 {
  margin-bottom: 10px; /* Adjusted margin for better separation */
}

.maps_location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maps_location input {
  margin-bottom: 10px;
}

.location_button {
  margin-top: 10px;
}
.map_container {
  width: 100%;
  height: 400px;
  transition: height 0.5s;
}

.map_container.expanded {
  height: 100vh;
}

@media only screen and (max-width: 950px) {
  .card-login {
    flex-direction: column;
  }
}

/* Estilos para largura máxima de 600px */
@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
  }
  .left-login > h1 {
    display: none;
  }
  .left-login,
  .right-login {
    width: 100%;
    height: auto;
  }
  .left-login-image {
    width: 50vw;
  }
  .card-login {
    width: 90%;
  }
}

@media only screen and (max-width: 950px) {
  .card_register {
    flex-direction: column;
  }
}
