@font-face {
  font-family: "TT Firs Neue";
  src: url("./Fonts/TT Firs Neue Trial Bold.ttf") format("truetype");
}
body {
  font-family: "TT Firs Neue", sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Comunidades*/

.community {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: white;
}

/*Games*/
#GamesBody {
  background-color: #120052;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  display: none;
}
.Game_Page {
  color: white;
}

.game_main_details {
  display: flex;

  margin-left: 12%;
  margin-top: 50px;
}

.game_main_reference {
  margin-right: 20px;
  flex-direction: column;
  display: flex;
  row-gap: 15%;
}
.game_img {
  flex-shrink: 0; /* Prevents the image from shrinking */
}
.upper_game {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.upper_game > * {
  margin-right: 10px; /* Add margin between items */
}

.rating {
  font-size: x-large;
}

.description {
  display: flex;
  align-items: center;
  margin-left: 40px;
  border: 1px solid white;
  height: 100;
  padding: 30px 35px;
  border-radius: 20px;
  color: white;
}
.linha-horizontal {
  align-self: center;
  width: 80%;
  height: 2px;
  background-color: black;
  margin-top: 5%;
  margin-left: 12%;
}

.vid-game {
  display: flex;
  margin-top: 5%;
}

.vid-game > .video1-game {
  margin-left: 10%;
}

.vid-game > .video2-game {
  margin-left: 30%;
}

.button-more {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.GameRev-profile {
  border-radius: 100px;
}
.Game_Page .container {
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 20px;
}
.Game-review {
  margin-left: 2%;
  margin-top: 5%;
  display: flex;
  border: 1px solid;
  border-radius: 20px;
}

/*Login*/

#LoginBody {
  margin: 0;
}
#LoginBody * {
  box-sizing: border-box;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background-image: url("images/salvatore-andrea-santacroce-hRQgTeNPf6o-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > h1 {
  font-size: 3vw;
  color: white;
}

.left-login-image {
  width: 35vw;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #652ec7;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
  color: white;
  font-weight: 800;
  margin: 0;
}

.textfield-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield-login > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield-login > label {
  color: azure;
  margin-bottom: 10px;
}

.textfield-login > input::placeholder {
  color: white;
}

.btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: azure;
  background: darkslateblue;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px darkslateblue;
}

.btn-login:hover {
  color: #aa3bfc;
}
.reference_login {
  margin-top: 20px;
  text-align: center;
  color: azure;
}
.reference_login p {
  margin: 0;
}

.reference_login a {
  color: azure;
  text-decoration: none;
  text-decoration: underline;
}

/*Profile*/

#Profilebody {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #201b2c;
  padding: 0;
}

.profile_main {
  width: 100vw;
  height: 100vh;
}

.profile_pic {
  margin-top: 5%;
  margin-right: 20px;
  margin-left: 5%;
}

.profile_pic img {
  width: 150px;
}

.textfield_username {
  margin-left: 10%;
}

.description-profile {
  width: 50%;
  margin-left: 10%;
  margin-top: 20px;
}

.description-profile > .label-profile {
  color: azure;
  margin-bottom: 10px;
}

.description-profile > #input-profile {
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.description-profile > .input-profile::placeholder {
  color: white;
}

#changeBackgroundButton {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

#changeBackgroundButton::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  background-color: transparent;
  pointer-events: none;
}

#changeBackgroundButtonPrev {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

#changeBackgroundButtonPrev::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  background-color: transparent;
  pointer-events: none;
}

#buttons-profile {
  display: inline-block;
  margin-left: 55%;
}

/*SignUp*/

#Registerbody {
  margin: 0;
}
#Registerbody * {
  box-sizing: border-box;
}
.main_register {
  background-image: url("images/salvatore-andrea-santacroce-hRQgTeNPf6o-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.left_register {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card_register {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #652ec7;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}
.card_register > h1 {
  color: white;

  font-weight: 800;
  margin: 0;
}
.textfield_register_username {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield_register_username > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield_register_username > label {
  color: azure;
  margin-bottom: 10px;
}
.textfield_register_username > input::placeholder {
  color: white;
}
.textfield_email {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield_email > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield_email > label {
  color: azure;
  margin-bottom: 10px;
}
.textfield_email > input::placeholder {
  color: white;
}
.textfield_displayname {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield_displayname > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield_displayname > label {
  color: azure;
  margin-bottom: 10px;
}
.textfield_displayname > input::placeholder {
  color: white;
}

.textfield_register_password {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield_register_password > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield_register_password > label {
  color: azure;
  margin-bottom: 10px;
}
.textfield_register_password > input::placeholder {
  color: white;
}

.textfield_confirm_password {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield_confirm_password > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield_confirm_password > label {
  color: azure;
  margin-bottom: 10px;
}
.textfield_confirm_password > input::placeholder {
  color: white;
}
.btn_register {
  width: 100%;
  padding: 16px 0px;
  margin: 10px 0px; /* Adjusted margin */
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: azure;
  background: darkslateblue;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px darkslateblue;
}
.reference_signin {
  margin-top: 20px;
  text-align: center;
  color: azure;
}
.reference_signin p {
  margin: 0;
}

.reference_signin a {
  color: azure;
  text-decoration: none;
  text-decoration: underline;
}

.right_register {
  margin-right: 50px;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_register > h1 {
  font-size: 3vw;
  color: white;
}
/*Communities*/

.Communities {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  user-select: none;
  cursor: default !important;
}

.PageTitle {
  text-align: center;
  color: white;
}

.communities-listing {
  display: flex;
}

.card-container {
  display: flex; /* Add flex display */
  flex-direction: column; /* Set flex direction to column */
  justify-content: space-between;
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-content {
  display: flex;
  flex-direction: column;
}

.communities-header {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.community-icon {
  margin-right: 10px;
}
.community-icon img {
  background-color: #652ec7;
}

.community-name h3 {
  margin: 0;
  font-size: 1.2rem;
}

.community-misc h5 {
  margin: 0;
  font-size: 1rem;
  color: #777;
}

.community-body {
  padding-bottom: 20px;
  margin-top: 60px;
  height: 120px;
  border: 1px solid #ddd;
  background-color: #282c34;
  border-radius: 5px;
  color: white;
}

.community-description {
  font-size: 1rem;
  color: #333;
}

.community-tags {
  margin-bottom: 10px;
}

.join_community {
  background-color: #652ec7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 25px;
  width: 100%;
  user-select: none;
}

.join_community:hover {
  background-color: #0056b3;
}
.join_community:not(:hover) {
  cursor: auto; /* Override cursor style for non-hover state */
}

/*Tags*/

#Tagbody {
  margin: 0;
  font-family: Arial, sans-serif;
}

#Tagbody * {
  box-sizing: border-box;
}
.tag {
  user-select: none;
}

.choose_tags {
  width: 100%;
  height: 100vh;
  background: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_tags {
  position: relative;
  width: 60%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 30px 35px;
  background: #a75db4;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card_tags > h1 {
  color: white;
  font-weight: 800;
  margin: 0 0 20px;
}

.tag_placement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.tag {
  margin: 5px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.btn_done {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: darkslateblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn_done:hover {
  background-color: #0056b3;
}
.tag.selected {
  background-color: darkslateblue;
  color: white;
}
/*CreatePost*/

#CreatePost {
  margin: 0;
  font-family: Arial, sans-serif;
}

#CreatePost * {
  box-sizing: border-box;
}

.createpost_textEssentials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.createpost_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.createpost_textEssentials h1 {
  margin: 0;
}

.createpost_textEssentials .tittle,
.createpost_textEssentials .description {
  margin-bottom: 10px;
}

.createpost_textEssentials input,
.createpost_content input[type="file"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.createpost_content input[type="text"] {
  width: 100%;
}

.createpost_content label {
  cursor: pointer;
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.createpost_content label:hover {
  background-color: #2980b9;
}

.createpost_content img {
  max-width: 550px;
  max-height: 550px;
  margin-top: 10px;
  border-radius: 5px;
}
/*Create Community*/

.createCommunity {
  display: flex;

  margin-left: 200px;
  margin-top: 50px;
  color: white;
}
.createcommunity_visuals {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}
.create_community_title {
  font-style: oblique;
}
.create_community_essentials {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
}

.imag_community {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.create_community {
  margin-top: 10px;
}

.createCommunity_textEssentials {
  margin-left: 150px;
  margin-top: 30px;
}
.card_create_community {
  width: 240%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #652ec7;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}
.card_create_community > h2 {
  color: white;
  font-weight: 800;
  margin: 10;
}
.community_name_essential {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.community_name_essential label {
  font-size: larger;
  font-style: initial;
}
.community_name_essential > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.community_description_essential {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.community_description_essential label {
  font-size: larger;
  font-style: initial;
}
.community_description_essential > textarea {
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: content-box;
  width: calc(100% - 30px);
}
.linha_horizontal_community {
  align-self: flex-start;
  width: 110%;
  height: 2px;
  background-color: white;
  margin-bottom: 40px;
}

.createCommunity_textEssentials textarea[type="text"] {
  margin-bottom: 10px;
  font-size: 16px;
}

.createCommunity_textEssentials label,
.createCommunity_textEssentials input {
  margin-bottom: 10px;
}

/*Create Events*/
.createEvent_mainDisplay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  color: white;
}

.upper_part {
  gap: 20px;
}
.title_container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  font-style: oblique;
}
.all_it {
  flex-direction: row;
  display: flex;
  gap: 350px;
}
.upper_elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
  margin-left: 100px;
  max-width: 1200px;
}

.Event_Title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.Event_Title label {
  margin-bottom: 5px;
  font-size: 18px;
}
.Event_Title input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: azure;
  color: #333;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.linha_horizontal_event {
  align-self: flex-start;
  width: 80%;
  height: 2px;
  background-color: white;
  margin-bottom: 40px;
  margin-left: 100px;
}
.Event_img label {
  margin-bottom: 5px;
}
.Event_img {
  margin-top: 20px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.Event_img img {
  width: 550px;
  height: 300px;
  margin-top: 10px;
}

.createEvent_mainDetails {
  margin-top: 20px;
}

.react-datetime-picker__wrapper {
  flex-direction: row;
  display: flex;
}

.actual_details {
  flex-direction: column;
  display: flex;
  gap: 20px;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.location h2 {
  margin-bottom: 10px;
}

.maps_location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maps_location input {
  margin-bottom: 10px;
}

.location_button {
  margin-top: 10px;
}
.map_container {
  width: 100%;
  height: 400px;
  transition: height 0.5s;
}

.map_container.expanded {
  height: 100vh;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.time {
  flex-direction: column;
  display: flex;
}
.time input[type="date"] {
  background-color: #652ec7;
  padding: 15px;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 20px;
}

/* Style the calendar picker indicator */
.time input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.time input[type="time"] {
  background-color: #652ec7;
  padding: 15px;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 20px;
}

/* Style the arrow button for the time input */
.time input[type="time"]::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
@media only screen and (max-width: 950px) {
  .card-login {
    flex-direction: column;
  }
}

/* Estilos para largura máxima de 600px */
@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
  }
  .left-login > h1 {
    display: none;
  }
  .left-login,
  .right-login {
    width: 100%;
    height: auto;
  }
  .left-login-image {
    width: 50vw;
  }
  .card-login {
    width: 90%;
  }
}

@media only screen and (max-width: 950px) {
  .card_register {
    flex-direction: column;
  }
}
